# Lesson 2: Experimental design and pandas
## Optional homework: Ozone data (starter code)

_(This is a quiz given in Roger Peng's [Coursera](https://www.coursera.org) class [Computing for Data Analysis](https://www.coursera.org/course/compdata).)_

In [1]:
import pandas as pd

data = pd.read_csv('ozone.csv')
data.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

#### 1. Print the column names of the dataset to the screen, one column name per line.

In [3]:
for x in data.columns:
    print x

Ozone
Solar.R
Wind
Temp
Month
Day

#### 2. Extract the first 2 rows of the data frame and print them to the console. What does the output look like?

In [5]:
data[:2]

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

#### 3. How many observations (i.e. rows) are in this data frame?

In [6]:
len(data)

153

#### 4. Extract the last 2 rows of the data frame and print them to the console. What does the output look like?

In [10]:
data[-2:]

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

#### 5. What is the value of Ozone in the 47th row?

In [13]:
data.iloc[47]

Ozone       37.0
Solar.R    284.0
Wind        20.7
Temp        72.0
Month        6.0
Day         17.0
Name: 47, dtype: float64

#### 6. How many missing values are in the Ozone column of this data frame?

In [20]:
data['Ozone'].isnull().sum()

37

#### 7. What is the mean of the Ozone column in this dataset? Exclude missing values (coded as NA) from this calculation.

In [30]:
data[data['Ozone'].notnull()].Ozone.mean()

42.12931034482759

#### 8. Extract the subset of rows of the data frame where Ozone values are above 31 and Temp values are above 90. What is the mean of "Solar.R" in this subset?

In [37]:
new_data = data[(data['Ozone'] > 31) & (data['Temp']> 90)]
new_data['Solar.R'].mean()

212.8

#### 9. What is the mean of "Temp" when "Month" is equal to 6?

In [39]:
data[data.Month == 6].Temp.mean()

79.1

#### 10. What was the maximum ozone value in the month of May (i.e. Month = 5)?

In [40]:
data[data.Month == 5].Ozone.max()

115.0